*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#one{
    padding: 10px;
    border-width: 250px;
    border-top: 550px; 
    border-left: 100px;
    text-align:center;
    border: none;
    background-color: white;
    box-shadow: 80px;
    width: 350px;
    box-shadow: 0px 0px 5px rgb(192, 177, 199);
    border-radius: 5px;
}
h1{
    color:blue;
    margin-bottom: 15px;
}
#login{
   padding: 7px 50px;
   border-radius: 5px;
   background:blue;
   color:white ;
   border: none;
   
}
#login:hover{
    background-color:#0f0f9f;
    color: rgb(255, 251, 251); 
}
hr{
    width: 100%;
    padding:0 50px;
}
body{
    background-color: aliceblue;
}
#create{
    color: white;
    font-family:Arial, Helvetica, sans-serif ;
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: rgb(64, 227, 64);
    border-radius: 5px;
    border:none;
    width: 60%;
    margin-left: 20%;
}
.new{
    border-radius: 3px;
    border: none;
    background-color: antiquewhite;
    padding: 9px;
}
a{
    text-decoration: none;
}
a:hover{
    color: #0f0f9f;
}

/* Footer part */
.footer{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0.5rem 4.5rem;
}
